.order {
    display: flex;
    background-color: var(--grey);
    padding: 16px;
    margin: 16px;
}

.key-info {
    width: 350px;
}
.highlight {
    color: var(--purpleDark)
}

select {
    margin: 6px;
}

.page-select {
    margin: 0 16px;
}

.pagination-container {
    width: 100%;
    background-color: var(--purpleLight);
    padding: 8px;
}